
# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

libc/*.asm
libc/*.lst
libc/*.rel
libc/*.sym
libc/*.arf

src/cpm/*.lst
src/cpm/*.rel
src/cpm/*.sym

